[submodule "powerlevel10k"]
    path = .zsh/plugins/powerlevel10k
    url = https://github.com/romkatv/powerlevel10k

[submodule "zsh-syntax-highlighting"]
    path = .zsh/plugins/zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting

[submodule "zsh-autosuggestions"]
    path = .zsh/plugins/zsh-autosuggestions
    url = https://github.com/zsh-users/zsh-autosuggestions

[submodule "alacritty-theme"]
    path = .config/alacritty/alacritty-theme
    url = https://github.com/alacritty/alacritty-theme
